.analytics {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 40px;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  &__profit,
  &__statistics {
    flex-basis: 50%;
  }

  &__statistics {
    .analytics-table__points-list {
      display: inline-flex;
      flex-direction: column;
      margin: 0 auto;
    }
  }
}