// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.section-header {
  .section-inner {
    @include flex(center);
  }

  border-bottom: 1px solid $color-text-light;
}

.header {
  &__burger-btn {
    margin-right: 10px;
  }

  &__logo {
    margin-right: 32px;
  }

  &__user {
    margin-left: auto;
  }
}