// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.section-header {
  .section-inner {
    @include flex(center);
  }

  border-bottom: 1px solid $color-text-light;
}

.header {
  &__burger-btn {
    margin-right: 10px;
  }

  &__logo {
    margin-right: 32px;
  }

  &__user {
    margin-left: auto;
  }

  &__search {
    @media screen and (max-width: 768px) {
      .search__input {
        width: 70%;
      }
    }

    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  &__user {
    @media screen and (max-width: 768px) {
      .user__info {
        display: none;
      }
    }
  }
}