.section-main {
  .section-inner {
    display: flex;
    align-items: stretch;
  }
}

.main {
  &__aside {
    flex-shrink: 0;
  }
  
  &__content {
    border-left: 1px solid $color-text-light;
  }
}