.breadcrumbs {
  position: relative;
  display: inline-flex;
  margin-bottom: 15px;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
  
      &::before {
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translateY(-40%);
        width: 10px;
        height: 10px;
        background-image: url("../../assets/svg/arrow-right.svg");
        background-position: center;
        background-repeat: no-repeat;
        content: "";
      }
    }
  }

  &__link {
    font-size: $fs-xxs;
    color: $color-text-secondary;

    &--current {
      color: $color-text-main;
    }
  }
  
  &__status {
    position: absolute;
    top: 50%;
    left: 110%;
    padding: 4px 2px;
    border-radius: 4px;
    font-size: $fs-xxxs;
    font-weight: 500;
    text-transform: uppercase;
    transform: translateY(-45%);
    white-space: nowrap;
    
    &-in-work {
      color: $color-in-work;
      border: 1px solid $color-in-work;
    }
    
    &-pending {
      color: $color-pending;
      border: 1px solid $color-pending;
    }
    
    &-done {
      color: $color-done;
      border: 1px solid $color-done;
    }
  }
}