.btn {
  @include btnReset;

  @include flex(center);

  padding: 10px 30px;
  font-size: $fs-s;
  color: $color-white;
  border-radius: 4px;
  background-color: $color-brand;
  transition: all 0.3s ease-in-out;
  border: 1px solid $color-brand;

  &__svg {
    margin-left: 16px;
    
    path {
      transition: fill 0.3s ease-in-out;
    }
  }

  &:hover,
  &:focus {
    color: $color-brand;
    background-color: transparent;

    .btn__svg {
      path {
        fill: $color-brand;
      }
    }
  }
}