.job-list {
  display: flex;
  flex-direction: column;

  &__link {
    @include btnReset;

    display: block;
    padding: 12px 0;
    width: 100%;
    text-align: left;

    &-text {
      display: inline;
      width: auto;
      font-size: $fs-s;
      color: $color-text-main;
    }

    &--active {
      position: relative;
      
      &::before {
        position: absolute;
        top: 0;
        right: -22px;
        width: 2px;
        height: 100%;
        content: "";
        background-color: rgba($color-brand, 50%);
      }
    }
  }
}