.job-list {
  display: flex;
  flex-direction: column;

  &__btn {
    @include btnReset;

    display: block;
    padding: 12px 0;
    width: 100%;
    text-align: left;

    &-text {
      display: inline;
      width: auto;
      font-size: $fs-s;
      color: $color-text-main;
    }
  }
}