.tabs {
  width: 100%;
  
  &__btns {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    border-bottom: 1px solid lighten($color-text-light, 10%);

    @media screen and (max-width: 576px) {
      justify-content: center;
    }
  }
}

.tab {
  @include btnReset;

  padding: 5px 0;
  color: $color-text-light;
  
  &--active {
    font-size: $fs-s;
    color: $color-text-main;
    border-bottom: 2px solid $color-brand;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &-pane {
    display: none;

    &--active {
      display: block;
    }
  }
}